body{
	background-color: #24292d;
	background-image: url(back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width:1890px;
}

header{
	height: 48px;
	padding-left:40px;
	padding-top:20px;
}

.head{
	display:inline-block;
}

.main_page{
	text-decoration:none;
	text-align:center;
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
}

.main_page:hover{
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
}
 
.main_page:active{
	padding:5px 36px;
	border: none;
	font:184x "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
}

.search{
	padding:3px 45px;
	margin-left:300px;
	text-align: center;
	font-weight:bold;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.submit{
	text-decoration:none;
	text-align:center;
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
}

.submit:hover{
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
}
.submit:active{
	padding:5px 36px; 
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
}

.country_info{

	padding-left:80px;
	padding-top:20px;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:white;
	width:800px;
}

.info{
	display:inline-block;

	width:700px;
}

.flag{
	width:200px;
	display:inline-block;
	position:absolute;

}

.registr{
	text-decoration:none;
	text-align:center;
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
	margin-left:500px;
}

.registr:hover{
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
}
.registr:active{
	padding:5px 36px;
	border: none;
	font:184x "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
}

.login{
	text-decoration:none;
	text-align:center;
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
	margin-left:50px;
}

.login:hover{
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
}
 
.login:active{
	padding:5px 36px;
	border: none;
	font:184x "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
}

hr{
	border: 2px solid;
	color: #808080;
	width: 1885px;
}

footer{
	padding-bottom:25px;
	text-align: center;
	bottom: 0;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	position: absolute;
	color: lightgray;
}
