body{
	background-color: #24292d;
	background-image: url(back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width:1890px;
	margin-top:100px;
}

header{
	height: 60px;
	padding-left:40px;
	padding-top:24px;
	top:0px;
	position:fixed;
	z-index:1;
	background-color:gray;
	width:1890px;
}

.head{
	display:inline-block;
}

.main_page{
	text-decoration:none;
	text-align:center;
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
}

.main_page:hover{
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
}
 
.main_page:active{
	padding:5px 36px;
	border: none;
	font:14x "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
}

.search{
	padding:3px 45px;
	margin-left:300px;
	text-align: center;
	font-weight:bold;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.submit{
	text-decoration:none;
	text-align:center;
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
}

.submit:hover{
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
}
.submit:active{
	padding:5px 36px; 
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
}

.registr{
	text-decoration:none;
	text-align:center;
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
	margin-left:500px;
}

.registr:hover{
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
}
.registr:active{
	padding:5px 36px;
	border: none;
	font:14x "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
}

.login{
	text-decoration:none;
	text-align:center;
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
	margin-left:50px;
}

.login:hover{
	padding:5px 36px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
}
 
.login:active{
	padding:5px 36px;
	border: none;
	font:14x "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
}

select{ 
	padding:3px 8px;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

hr{
	border: 2px solid;
	color: #808080;
	width: 1885px;
}

.map{
    position: absolute;
    margin-left:60px;
}

.body{
	position: absolute;
	margin-left: 40px;
}

.Legend{
	position: absolute;
	margin-top: 60px;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: lightgray;
	margin-left:1200px;
}

.filter{
	color: white;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.info{
	position: absolute;
	margin-left: 1200px;
	margin-top: 280px;
	color: lightgray;
	line-height: 0.5;
	font:16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	width:550px;
}

.vertical{
	height: 1020px;
    width: 0px;
    margin-left: 1120px;
}

footer{
	padding-bottom:25px;
	text-align: center;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	position: absolute;
	color: lightgray;
}

.text_select_country{
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.WhitePower{
	position: absolute;
	margin-top: 30px;
	margin-left: 1200px;
	color:lightgray;
}

