.search{
	 padding:3px 45px;
	 text-align: center;
	 font-weight:bold; 
	 font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
}

.Registr{text-decoration:none; text-align:center; 
 padding:5px 36px; 
 margin-left: 1200px;
  border: none; 
 font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#dcdcdc; 
 background:#24292d; 
 }

 .Registr:hover{
 padding:5px 36px; 
 margin-left: 1200px;
  border: none; 
 font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#dcdcdc; 
 background-color:#31383d;  
   
 }
 .Registr:active{
 padding:5px 36px; 
  border: none; 
 margin-left: 1200px;
 font:184x "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#dcdcdc; 
 background-color:#414b54;    
}

.Login{text-decoration:none; text-align:center; 
 padding:5px 36px; 
 margin-left: 1000px;
  border: none; 
 font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#dcdcdc; 
 background:#24292d; 
 }

 .Login:hover{
 padding:5px 36px; 
 margin-left: 1000px;
  border: none; 
 font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#dcdcdc; 
 background-color:#31383d;  
   
 }
 .Login:active{
 padding:5px 36px; 
  border: none; 
 margin-left: 1000px;
 font:184x "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#dcdcdc; 
 background-color:#414b54;    
}

.submit{text-decoration:none; text-align:center; 
 padding:5px 36px;
 border: none; 
 font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#dcdcdc; 
 background:#24292d; 
 }

 .submit:hover{
 padding:5px 36px; 
 border: none; 
 font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#dcdcdc; 
 background-color:#31383d;  
   
 }
 .submit:active{
 padding:5px 36px; 
 border: none; 
 font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#dcdcdc; 
 background-color:#414b54;    
}

select{ 
	padding:3px 8px;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.Head{
	position: absolute;
}

body{
	background-color: #24292d;
}


header{
	height: 48px;
	width: 97.5%;
	padding-left:40px;
	padding-top:20px;
}

hr{
	border: 2px solid;
	color: #808080;
}

.form_log{
	background-color: white;
	width: 120px;
	height: 200px;
	z-index: 100;
	padding: 27px 0 0 23px;
	position: absolute;
	margin: auto;
}

.modal{
	display: none;
	position: fixed;
	z-index: 100;
	left:400px;
	top:100px;
	width: 500px;
	height: 500px;
	background-color: #FFF;
}

.close{
	color: #aaa;
	float: right;
	font-size: 50px;
	font-weight: bold;
	cursor: pointer;
}