body{
	background-color: #24292d;
}

header{
	height: 48px;
	width: 97.5%;
	padding-left:40px;
	padding-top:20px;
}

.head{
	position: absolute;
}

.search{
	padding:3px 45px;
	text-align: center;
	font-weight:bold;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.registr{
	text-decoration:none;
	text-align:center;
	padding:5px 36px;
	margin-left: 1200px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
}

.registr:hover{
	padding:5px 36px;
	margin-left: 1200px;
	border: none;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
}
.registr:active{
	padding:5px 36px;
	border: none;
	margin-left: 1200px;
	font:184x "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
}

.login{
	text-decoration:none;
	text-align:center; 
	padding:5px 36px; 
	margin-left: 1000px;
	border: none; 
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#dcdcdc; 
	background:#24292d; 
}

.login:hover{
	padding:5px 36px; 
	margin-left: 1000px;
	border: none; 
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#dcdcdc; 
	background-color:#31383d;  
}
 
.login:active{
	padding:5px 36px; 
	border: none; 
	margin-left: 1000px;
	font:184x "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#dcdcdc; 
	background-color:#414b54;    
}

select{ 
	padding:3px 8px;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.submit{
	text-decoration:none;
	text-align:center; 
	padding:5px 36px;
	border: none; 
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#dcdcdc; 
	background:#24292d; 
}

.submit:hover{
	padding:5px 36px; 
	border: none; 
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#dcdcdc; 
	background-color:#31383d;   
}
.submit:active{
	padding:5px 36px; 
	border: none; 
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#dcdcdc; 
	background-color:#414b54;    
}

hr{
	border: 2px solid;
	color: #808080;
}

.map{
    position: absolute;
    margin-left: 30px;
}

.body{
	position: absolute;
	margin-top: 30px;
	margin-left: 40px;
}

.filter{
	color: white;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.info{
	position: absolute;
	margin-left: 1300px;
	margin-top: 50px;
}

.vertical{
	height: 1000px;
    width: 0px;
    margin-left: 1040px;
}

.modal{
	display: none;
	position: fixed;
	left:400px;
	top:100px;
	width: 500px;
	height: 500px;
	background-color: #FFF;
}

.close{
	color: #aaa;
	float: right;
	font-size: 50px;
	font-weight: bold;
	cursor: pointer;
}