svg{
	position:absolute;
	top: -2px;
	left: 0;
	height: 100%;
	width: 100%;
}

/*.EUmap{
	height: 100%;
	width: 100%;
}

.Countries{
	height: 100%;
	width: 100%;
}*/

.Malta_default,.Vatican_default,.San-Marino_default,.Monako_default,.Andorra_default,.Liechtenstein_default,.Austria_default,.Belgium_default,.Britain_default,.Germany_default,.Belarus_default,.Bulgaria_default,.Moldavia_default,.Poland_default,.Russia_default,.Romania_default,.Slovakia_default,.Czech_default,.Ukraine_default,.Denmark_default,.Iceland_default,.Latvia_default,.Ireland_default,.Luxembourg_default,.Montenegro_default,.Croatia_default,.Slovenia_default,.Serbia_default,.Portugal_default,.Macedonia_default,.Italy_default,.Spain_default,.Greece_default,.Bosnia_default,.Albania_default,.Sweden_default,.Estonia_default,.Finland_default,.Norway_default,.Lithuania_default,.Netherlands_default,.France_default,.Switzerland_default,.Hungary_default{
	opacity: 0;
	fill: green;
}

@keyframes Change{
	from {opacity: 0;}
	50% {opacity: 0.5;}
	to {opacity: 0;}
}

.Malta_animation,.Vatican_animation,.San-Marino_animation,.Monako_animation,.Andorra_animation,.Liechtenstein_animation,.Austria_animation,.Belgium_animation,.Britain_animation,.Germany_animation,.Belarus_animation,.Bulgaria_animation,.Moldavia_animation,.Poland_animation,.Russia_animation,.Romania_animation,.Slovakia_animation,.Czech_animation,.Ukraine_animation,.Denmark_animation,.Iceland_animation,.Latvia_animation,.Ireland_animation,.Luxembourg_animation,.Montenegro_animation,.Croatia_animation,.Slovenia_animation,.Serbia_animation,.Portugal_animation,.Macedonia_animation,.Italy_animation,.Spain_animation,.Greece_animation,.Bosnia_animation,.Albania_animation,.Sweden_animation,.Estonia_animation,.Finland_animation,.Norway_animation,.Lithuania_animation,.Netherlands_animation,.France_animation,.Switzerland_animation,.Hungary_animation{
	animation: Change 0.7s ease-in infinite;
}

.d3{
	height: 10px;
	width: 10px;
	display:inline-block;
}
