@media only screen and (max-width: 1920px){   
	body{
		width:1890px;
		height:1080px;
	}
	
	.search{
		margin-left:300px;
	}
	
	.info{
		width:550px;
	}
}

@media only screen and (max-width: 1680px){   
	body{
		width:1650px;
		height:1050px;
	}
	
	.search{
		margin-left:300px;
	}
	
	.login{
		margin-left:600px;
	}
	
	.info{
		width:450px;
		margin-left:1100px;
	}
}

@media only screen and (max-width: 1366px){   
	body{
		width:1320px;
		height:768px;
	}
	
	.search{
		margin-left:170px;
	}
	
	.login{
		margin-left:400px;
	}

	.flag{
		width:150px;
	}
	
	.country_info{
		width:600px;
		margin-top:190px;
	}
	
	.info{
		width:400px;
		font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;		
		margin-left:850px;
	}
}
