@media only screen and (max-width: 1920px){   
	body{
		width:1890px;
		height:1080px;
	}
	
	.search{
		margin-left:300px;
	}
	
	.info{
		width:550px;
	}
	
	.EUmap{
		width: 1025px;
	}
}

@media only screen and (max-width: 1680px){   
	body{
		width:1650px;
		height:1050px;
	}
	
	.search{
		margin-left:300px;
	}
	
	.login{
		margin-left:600px;
	}
	
	.info{
		width:450px;
	}
	
	.EUmap{
		width: 995px;
	}

}

@media only screen and (max-width: 1366px){   
	body{
		width:1320px;
		height:768px;
	}
	
	.search{
		margin-left:170px;
	}
	
	.login{
		margin-left:400px;
	}
	
	.right_block{
		margin-left:900px;
	}
	
	.info{
		width:400px;
		font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
		
	}

	.EUmap{
		width: 730px;
	}
}
