.modal{
	display: none;
	position: fixed;
	border: 3px solid black;
	left: calc(50% - 110px);
	top: 100px;
	width: 220px;
	height: 270px;
	background-color: #333;
}

.log_table{
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	margin-left: 20px;
	color:#dcdcdc;
}

.log{
	text-decoration:none;
	text-align:center;
	border: none;
	padding: 7px 45px;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background:#24292d;
	margin-top:10px;
}

.log:hover{
	border: none;
	padding: 7px 45px;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#31383d;
	margin-top:10px;
}

.log:active{
	border: none;
	padding: 7px 45px;
	font:14x "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#dcdcdc;
	background-color:#414b54;
	margin-top:10px;
}

.reg,.reg:hover,.reg:active{
	margin-top:5px;
	padding: 7px 22px;
	margin-left:2px;
}

.Window_close{
	display: none;
	position: fixed;
	left: calc(50% + 120px);
	top: 95px;
	width: 50px;
	height: 50px;
	z-index:100;
}

.close{
	color: #aaa;
	position: absolute;
	margin-top: 0px;
	font-size: 50px;
	font-weight: bold;
	cursor: pointer;
}